# created by virtualenv automatically
.venv/Lib
.idea/

.venv/
venv/

__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
build/
dist/

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

*.qrc
*.pyc
*.qmlc
*.qmlproject.user

.pytest_cache/
.coverage
htmlcov/

.env
*.spec